@font-face {
    font-family: 'Roboto';
    src: url('../static/font/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../static/font/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../static/font/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: #474F7A;
    z-index: -1;
    color: white;
    text-decoration: none;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body a {
    text-decoration: none;
    color: white;
}

header {
    background-color: #1F2544;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

nav img {
    height: 40px;
    width: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: #eee;
}

.dropdown-content {
    
    display: none;
    position: absolute;
    background-color: #492E87;
    min-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.dropdown-content a {
    color: #eee;
    text-decoration: none;
    padding: 5px 0; /* Increased padding for more space */
    margin-right: 10px; /* Added margin between links */
    transition: background-color 0.3s ease;
    flex: 0 0 calc(50% - 10px); /* Adjusts width to 50% with margin included */
    box-sizing: border-box; /* Includes padding and border in the width */
}

.dropdown-content a:hover {
    background-color: #634DA0;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
}


/* From uiverse.io by @Ali-Tahmazi99 */
button {
    display: inline-block;
    width: 100px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
}

button::before,
button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
}

button::before {
    left: -10px;
    background: #240046;
}

button::after {
    right: -10px;
    background: #5a189a;
}

button:hover::before,
button:hover::after {
    width: 58%;
}

button:hover span {
    color: #e0aaff;
    transition: 0.3s;
}

button span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
}

section {
    min-height: 100vh;
    height: fit-content;
}

section h1 {
    margin-left: 5%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

footer {
    background-color: #1F2544;
    padding: 10px;
    color: #8DB2E5;
    text-align: center;
    text-decoration: none;

}

.S404 {
    background-image: url("../static/img/404re.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.derriere {
    width: 100%;
    position: relative;
}

.container {
    position: relative;
    width: 100%;
    height: 35vh;
    overflow: hidden;
    /* Ensure blurred background doesn't overflow */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px) brightness(0.45);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.titre {
    position: relative;
    z-index: 100;
    /* Ensure content appears above the blurred background */
    padding: 20px;
    color: white;
    /* Adjust text color as needed */
    font-size: large;
}

.abs {
    position: absolute;
    width: 75%;
    height: 50%;
    display: flex;
    align-items: center;
    padding: 10%;
    justify-content: space-between;
}

.img-abs {
    width: 15vw;
    aspect-ratio: 4/6;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.texte-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.genre {
    width: 40%;
    margin-top: 2rem;
}

.texte {
    width: 40%;
}

.rating-ctn {
    font: 16px/1 Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: var(--bar-size);
    justify-content: flex-start;
    padding: var(--bar-size);
    z-index: 1;
}

:root {
    --rating-size: 5rem;
    --bar-size: 0.5rem;
    --background-color: #e7f2fa;
    --rating-color-default: #2980b9;
    --rating-color-background: #c7e1f3;
    --rating-color-good: #27ae60;
    --rating-color-meh: #f1c40f;
    --rating-color-bad: #e74c3c;
}

/* Rating item */
.rating {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;

    background: var(--rating-color-default);
    color: var(--rating-color-default);
    width: var(--rating-size);
    height: var(--rating-size);

    /* Basic style for the text */
    font-size: calc(var(--rating-size) / 3);
    line-height: 1;
}

/* Rating circle content */
.rating span {
    position: relative;
    display: flex;
    font-weight: bold;
    z-index: 2;
}

.rating span small {
    font-size: 0.5em;
    font-weight: 900;
    align-self: center;
}

/* Bar mask, creates an inner circle with the same color as thee background */
.rating::after {
    content: "";
    position: absolute;
    inset: var(--bar-size);
    background: var(--background-color);
    border-radius: inherit;
    z-index: 1;
}

/* Bar background */
.rating::before {
    content: "";
    position: absolute;
    inset: var(--bar-size);
    border-radius: inherit;
    box-shadow: 0 0 0 1rem var(--rating-color-background);
    z-index: -1;
}

/* Classes to give different colors to ratings, based on their score */
.rating.good {
    background: var(--rating-color-good);
    color: var(--rating-color-good);
}

.rating.meh {
    background: var(--rating-color-meh);
    color: var(--rating-color-meh);
}

.rating.bad {
    background: var(--rating-color-bad);
    color: var(--rating-color-bad);
}

.rating-texte {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.container2 {
    background-color: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(46, 46, 46, 0.2) 0px 8px 24px;
    color: rgb(255, 255, 255);
    z-index: 2;
}

#favorite {
    display: none;
}

#favorite:checked+.container2 svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
}

@keyframes heartButton {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.3);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

#favorite+.container2 .action {
    position: relative;
    overflow: hidden;
    display: grid;
}

#favorite+.container2 .action span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all 0.5s;
}

#favorite+.container2 .action span.option-1 {
    transform: translate(0px, 0%);
    opacity: 1;
}

#favorite:checked+.container2 .action span.option-1 {
    transform: translate(0px, -100%);
    opacity: 0;
}

#favorite+.container2 .action span.option-2 {
    transform: translate(0px, 100%);
    opacity: 0;
}

#favorite:checked+.container2 .action span.option-2 {
    transform: translate(0px, 0%);
    opacity: 1;
}

.input-container {
    width: 220px;
    position: relative;
  }
  
  .icon {
    position: absolute;
    right: 10px;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
  }
  
  .input {
    width: 100%;
    height: 15px;
    padding: 10px;
    transition: .2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px black;
  }
  
  .input-container:hover > .icon {
    animation: anim 1s linear infinite;
  }
  
  @keyframes anim {
    0%,
    100% {
      transform: translateY(calc(-50% - 5px)) scale(1);
    }
  
    50% {
      transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
  }