*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    background-color: black;
    z-index: -1;
    color: white;
    text-decoration: none;
}
header {
    background-color: #232930;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

nav img {
    height: 40px; /* Adjust the height as needed */
    width: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9147ff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}