{{define "404"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>404</title>
</head>

<body>
    <header>
        <nav>
            <a href="/home" id="home-link">
                <img src="static/img/logo.png" alt="Home">
            </a>
            <input type="text" placeholder="Search...">
            <ul>
                <li class="dropdown">
                    <a href="#">Dropdown 1</a>
                    <div class="dropdown-content">
                        <a href="#">Item 1</a>
                        <a href="#">Item 2</a>
                        <a href="#">Item 3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Dropdown 2</a>
                    <div class="dropdown-content">
                        <a href="#">Item 1</a>
                        <a href="#">Item 2</a>
                        <a href="#">Item 3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Dropdown 3</a>
                    <div class="dropdown-content">
                        <a href="#">Item 1</a>
                        <a href="#">Item 2</a>
                        <a href="#">Item 3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Dropdown 4</a>
                    <div class="dropdown-content">
                        <a href="#">Item 1</a>
                        <a href="#">Item 2</a>
                        <a href="#">Item 3</a>
                    </div>
                </li>
            </ul>
            <button>
                <span> Login
                </span>
            </button>
        </nav>
    </header>
    <section> nothing there yet</section>
    <footer>Privacy Notice - Terms - Content Policy - Community Guidelines - Developer Terms - DMCA Guidelines - API - Contribution Guidelines</footer>
</body>

</html>
{{end}}