{{define "game"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style1.css">

    <title>Game Page</title>
</head>

<body>
    <header>
        <nav>
            <a href="/home" id="home-link">
                <img src="static/img/logo.png" alt="Home">
            </a>
            <form action="/search" method="GET">
                <div class="input-container">
                    <input type="text" name="query" id="query" class="input" placeholder="search...">
                    <span class="icon">
                        <svg width="19px" height="19px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path opacity="1" d="M14 5H20" stroke="#000" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path opacity="1" d="M14 8H17" stroke="#000" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M21 11.5C21 16.75 16.75 21 11.5 21C6.25 21 2 16.75 2 11.5C2 6.25 6.25 2 11.5 2"
                                    stroke="#000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path opacity="1" d="M22 22L20 20" stroke="#000" stroke-width="3.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                    </span>
                </div>
            </form>
            <ul>
                <li class="dropdown">
                    <a href="/categories">Categories</a>
                    <div class="dropdown-content">
                        <a href="/categorie?id=31">Adventure</a>
                        <a href="/categorie?id=33">Arcade</a>
                        <a href="/categorie?id=35">Card & Board Game </a>
                        <a href="/categorie?id=4">Fighting</a>
                        <a href="/categorie?id=25">Hack and slash/Beat'em up</a>
                        <a href="/categorie?id=32">Indie </a>
                        <a href="/categorie?id=36">MOBA</a>
                        <a href="/categorie?id=7">Music</a>
                        <a href="/categorie?id=30">Pinball </a>
                        <a href="/categorie?id=8">Platform</a>
                        <a href="/categorie?id=2">Point-and-click</a>
                        <a href="/categorie?id=9">Puzzle </a>
                        <a href="/categorie?id=26">Quiz/Trivia</a>
                        <a href="/categorie?id=10">Racing</a>
                        <a href="/categorie?id=11">Real Time Strategy (RTS) </a>
                        <a href="/categorie?id=12">Role-playing (RPG)</a>
                        <a href="/categorie?id=5">Shooter</a>
                        <a href="/categorie?id=13">Simulator </a>
                        <a href="/categorie?id=14">Sport</a>
                        <a href="/categorie?id=15">Strategy</a>
                        <a href="/categorie?id=24">Tactical </a>
                        <a href="/categorie?id=16">Turn-based strategy (TBS)</a>
                        <a href="/categorie?id=34">Visual Novel </a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Dropdown 2</a>
                    <div class="dropdown-content">
                        <a href="#">Item 1</a>
                        <a href="#">Item 2</a>
                        <a href="#">Item 3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Dropdown 3</a>
                    <div class="dropdown-content">
                        <a href="#">Item 1</a>
                        <a href="#">Item 2</a>
                        <a href="#">Item 3</a>
                    </div>
                </li>
                {{if .Logged}}
                <li class="dropdown">
                    <a href="/dashboard">Dashboard</a>
                    <div class="dropdown-content">
                        <a href="/favPage">Favorites</a>
                        <a href="/gestion">Account</a>
                    </div>
                </li>
                {{end}}
            </ul>
            {{if .Logged}}
            <a class="h-link" href="/logout">
                <button>
                    <span> Logout
                    </span>
                </button>
            </a>
            {{else}}
            <a class="h-link" href="/login">
                <button>
                    <span> Login
                    </span>
                </button> {{end}}</a>
        </nav>
    </header>
    <section>
        <div class="derriere">
            <div class="abs">
                {{if .Result.CoverLink}}
                <div class="img-abs" style="background-image: url({{.Result.CoverLink}});"></div>
                {{else}}
                <div class="img-abs" style="background-image: url(static/img/Picture_Not_Yet_Available.png);"></div>
                {{end}}
                <div class="rating-ctn">
                    <div class="rating-texte">
                        {{if eq .Result.Rating 0.0}}
                        <div class="rating">N/A</div>
                        {{else}}
                        <div class="rating">{{.Result.Rating}}% </div>
                        {{end}}
                        Rating
                    </div>
                    <div class="rating-texte">
                        {{if eq .Result.TotalRating 0.0}}
                        <div class="rating">N/A</div>
                        {{else}}
                        <div class="rating">{{.Result.TotalRating}}%</div>
                        {{end}}
                        Total Rating
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="background" style="background-image: url({{.Result.ScreenshotsLink}});"></div>
                <div class="titre">{{.Result.Name}}</div>
            </div>
            <div class="texte-ctn">
                <div class="genre">Genres: {{join .Result.GenresString " "}}</div>
                <div class="texte">{{.Result.Summary}}</div>
                {{if .Logged}}
                <input value="favorite-button" name="favorite-checkbox" id="favorite" type="checkbox" {{if
                    .Fav}}checked="checked" {{end}} />
                <label class="container2" for="favorite">
                    <svg class="feather feather-heart" stroke-linejoin="round" stroke-linecap="round" stroke-width="2"
                        stroke="currentColor" fill="none" viewBox="0 0 24 24" height="24" width="24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                        </path>
                    </svg>
                    <a class="h-link" href="/fav?id={{.Result.ID}}">
                        <div class="action">
                            <span class="option-1">Add to Favorites</span>
                            <span class="option-2">Remove from Favorites</span>
                        </div>
                    </a>
            </div>
            {{else}}
            <input value="favorite-button" name="favorite-checkbox" id="favorite" type="checkbox" />
            <label class="container2" for="favorite">
                <svg class="feather feather-heart" stroke-linejoin="round" stroke-linecap="round" stroke-width="2"
                    stroke="currentColor" fill="none" viewBox="0 0 24 24" height="24" width="24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                    </path>
                </svg>
                <a class="h-link" href="/login">
                    <div class="action">
                        <span class="option-1">Loggin to add to favorites</span>
                        <span class="option-2">Loggin to add to favorites</span>
                    </div>
                </a>
                {{end}}
        </div>
        </label>
        </div>
        </div>
    </section>
    <footer><a href="https://www.twitch.tv/p/fr-fr/legal/privacy-notice/">Privacy Notice</a> - <a
            href="https://safety.twitch.tv/s/article/Community-Guidelines?language=en_US">Community Guidelines</a> - <a
            href="https://www.igdb.com/content-policy">Content Policy</a> -
        <a href="https://www.twitch.tv/p/fr-fr/legal/developer-agreement/">Developer Terms</a> - <a
            href="https://www.twitch.tv/p/en/legal/dmca-guidelines/">DMCA Guidelines</a> - <a
            href="https://www.igdb.com/api">API</a> -
        <a href="https://github.com/twitchtv/igdb-contribution-guidelines/wiki">Contribution Guidelines</a>
    </footer>
</body>
<script>
    var ID = `{{.Result.ID}}`;
</script>
<script src="static/script2.js"></script>

</html>
{{end}}