{{define "game"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style1.css">

    <title>Main Page</title>
</head>

<body>
    <header>
        <nav>
            <a href="/home" id="home-link">
                <img src="static/img/logo.png" alt="Home">
            </a>
            <input type="text" placeholder="Search...">
            <ul>
                <li class="dropdown">
                    <a href="#">Dropdown 1</a>
                    <div class="dropdown-content">
                        <a href="#">Item 1</a>
                        <a href="#">Item 2</a>
                        <a href="#">Item 3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Dropdown 2</a>
                    <div class="dropdown-content">
                        <a href="#">Item 1</a>
                        <a href="#">Item 2</a>
                        <a href="#">Item 3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Dropdown 3</a>
                    <div class="dropdown-content">
                        <a href="#">Item 1</a>
                        <a href="#">Item 2</a>
                        <a href="#">Item 3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Dropdown 4</a>
                    <div class="dropdown-content">
                        <a href="#">Item 1</a>
                        <a href="#">Item 2</a>
                        <a href="#">Item 3</a>
                    </div>
                </li>
            </ul>
            {{if .Logged}}
            <a class="h-link" href="/logout">
                <button>
                    <span> Logout
                    </span>
                </button>
            </a>
            {{else}}
            <a class="h-link" href="/login">
                <button>
                    <span> Login
                    </span>
                </button> {{end}}</a>
        </nav>
    </header>
    <section>
        <div class="derriere">
            <div class="abs">
                <div class="img-abs" style="background-image: url({{.Result.CoverLink}});"></div>
                <div class="rating-ctn">
                    <div class="rating-texte">
                        {{if eq .Result.Rating 0.0}}
                        <div class="rating">N/A</div>
                        {{else}}
                        <div class="rating">{{.Result.Rating}}% </div>
                        {{end}}
                        Rating
                    </div>
                    <div class="rating-texte">
                        {{if eq .Result.TotalRating 0.0}}
                        <div class="rating">N/A</div>
                        {{else}}
                        <div class="rating">{{.Result.TotalRating}}%</div>
                        {{end}}
                        Total Rating
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="background" style="background-image: url({{.Result.ScreenshotsLink}});"></div>
                <div class="titre">{{.Result.Name}}</div>
            </div>
            <div class="texte-ctn">
                <div class="genre">Genres: {{join .Result.GenresString " "}}</div>
                <div class="texte">{{.Result.Summary}}</div>
                <input value="favorite-button" name="favorite-checkbox" id="favorite" type="checkbox" {{if
                    .Fav}}checked="checked" {{end}} />
                {{if .Logged}}
                <label class="container2" for="favorite">
                    <svg class="feather feather-heart" stroke-linejoin="round" stroke-linecap="round"
                        stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="24"
                        width="24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                        </path>
                    </svg>
                    <div class="action">
                        <a class="h-link" href="/fav?id={{.Result.ID}}">
                            <span class="option-1">Add to Favorites</span>
                            <span class="option-2">Remove from Favorites</span>
                        </a>
                    </div>
                    {{else}}
                    <label class="container2" for="favorite">
                        <svg class="feather feather-heart" stroke-linejoin="round" stroke-linecap="round"
                            stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="24"
                            width="24" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                            </path>
                        </svg>
                        <div class="action">
                            <a class="h-link" href="/login">
                                <span class="option-1">Add to Favorites</span>
                                <span class="option-2">Remove from Favorites</span>
                            </a>
                            {{end}}
                        </div>
                    </label>
            </div>
        </div>
    </section>
    <footer>Privacy Notice - Terms - Content Policy - Community Guidelines - Developer Terms - DMCA Guidelines - API -
        Contribution Guidelines</footer>
</body>
<script src="static/script2.js"></script>

</html>
{{end}}