{{define "gestion"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/statics/fav.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <script src="/static/JS/script.js"></script>
    <title>Gestion</title>
</head>
<body class="password">
    <form action="/changeLogin" method="post">
        <label for="oldpassword">Actual Password:</label><br>
        <input type="password" id="oldpassword" name="oldpassword" required><br><br>
        <label for="newpassword">New password:</label><br>
        <input type="password" id="newpassword" name="newpassword" required><br><br>
        <button type="submit" class="transitionButton">Change Password</button>
      </form>
      <form action="/dashboard" method="post">
        <button type="submit">Cancel</button>
    </form>
</body>
</html>
{{end}}