{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>
    <title>Main Page</title>
</head>

<body>
    <header>
        <nav>
            <a href="/home" id="home-link">
                <img src="static/img/logo.png" alt="Home">
            </a>
            <input type="text" placeholder="Search...">
            <ul>
                <li class="dropdown">
                    <a href="#">Dropdown 1</a>
                    <div class="dropdown-content">
                        <a href="#">Item 1</a>
                        <a href="#">Item 2</a>
                        <a href="#">Item 3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Dropdown 2</a>
                    <div class="dropdown-content">
                        <a href="#">Item 1</a>
                        <a href="#">Item 2</a>
                        <a href="#">Item 3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Dropdown 3</a>
                    <div class="dropdown-content">
                        <a href="#">Item 1</a>
                        <a href="#">Item 2</a>
                        <a href="#">Item 3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Dropdown 4</a>
                    <div class="dropdown-content">
                        <a href="#">Item 1</a>
                        <a href="#">Item 2</a>
                        <a href="#">Item 3</a>
                    </div>
                </li>
            </ul>
            <button>
                <span> Login
                </span>
            </button>
        </nav>
    </header>
    <section>
        <h1>Best Games</h1>
        <div class="indexTop">
            {{if .RecommendedGames}}
            {{range .RecommendedGames}}
            <div class="game-item">
                <img src="{{.CoverLink}}" alt="{{.CoverLink}}">
                <div class="indexTextTop">
                    <div class="indexName">{{.Name}}</div>
                    <div class="indexGenre">{{join .GenresString " "}}</div>
                </div>
            </div>
            {{end}}
            {{else}}
            <div>No Best games found.</div>
            {{end}}
        </div>

        <h1>Latest Games</h1>
        <div class="indexTop">
            {{if .LastGames}}
                <div class="game-items-container">
                    {{range .LastGames}}
                        <div class="game-itemBot">
                            <img src="{{.ScreenshotsLink}}" alt="{{.ScreenshotsLink}}">
                            <div class="indexTextBot">
                                <div class="indexNameBot">{{.Name}}</div>
                                <div class="indexGenreBot">{{join .GenresString " "}}</div>
                            </div>
                        </div>
                    {{end}}
                </div>
            {{else}}
                <div>No Latest games found.</div>
            {{end}}
        </div>
    </section>
    <footer>Privacy Notice - Terms - Content Policy - Community Guidelines - Developer Terms - DMCA Guidelines - API -
        Contribution Guidelines</footer>
</body>

</html>
{{end}}