{{define "Login"}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style1.css">
  <title>Login</title>
</head>
<header>
  <nav>
      <a href="/home" id="home-link">
          <img src="static/img/logo.png" alt="Home">
      </a>
      <input type="text" placeholder="Search...">
      <ul>
          <li class="dropdown">
              <a href="#">Dropdown 1</a>
              <div class="dropdown-content">
                  <a href="#">Item 1</a>
                  <a href="#">Item 2</a>
                  <a href="#">Item 3</a>
              </div>
          </li>
          <li class="dropdown">
              <a href="#">Dropdown 2</a>
              <div class="dropdown-content">
                  <a href="#">Item 1</a>
                  <a href="#">Item 2</a>
                  <a href="#">Item 3</a>
              </div>
          </li>
          <li class="dropdown">
              <a href="#">Dropdown 3</a>
              <div class="dropdown-content">
                  <a href="#">Item 1</a>
                  <a href="#">Item 2</a>
                  <a href="#">Item 3</a>
              </div>
          </li>
          <li class="dropdown">
              <a href="#">Dropdown 4</a>
              <div class="dropdown-content">
                  <a href="#">Item 1</a>
                  <a href="#">Item 2</a>
                  <a href="#">Item 3</a>
              </div>
          </li>
      </ul>
      {{if .Logged}}
      <a class="h-link" href="/logout">
          <button>
              <span> Logout
              </span>
          </button>
      </a>
      {{else}}
      <a class="h-link" href="/login">
          <button>
              <span> Login
              </span>
          </button> {{end}}</a>
  </nav>
</header>
<section class="element">
  <h1>Login</h1>
  <form action="/successLogin" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    <button type="submit" class="transitionButton">Login</button>
  </form>
  <div class="flex">
    <div class="invalid">
      <p>{{.Name}}</p>
      <p>Don't have an account?</p>
    </div>
    <a href="/register" class="link">Create one</a>
  </div>
</section>
<footer>Privacy Notice - Terms - Content Policy - Community Guidelines - Developer Terms - DMCA Guidelines - API -
  Contribution Guidelines</footer>
</html>
{{end}}