{{define "Login"}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/statics/fav.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/CSS/style.css">
  <script src="/static/JS/script.js"></script>
  <title>Login</title>
</head>
<body class="element">
  <h1>Login</h1>
  <form action="/successLogin" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    <button type="submit" class="transitionButton">Login</button>
  </form>
  <div class="flex">
    <div class="invalid">
      <p>{{.}}</p>
      <p>Don't have an account?</p>
    </div>
    <a href="/register" class="link">Create one</a>
  </div>
</body>
</html>
{{end}}